<section class="container">
    <h2 class="large text-primary">Sign Up</h2>
    <p class="lead"><i class="fas fa-user"></i> Create Your Account</p>
    <form class="form">
      <div class="form-group">
        <input type="text" placeholder="Name" />
        <div class="error-message">Name is required</div>
      </div>
      <div class="form-group">
        <input type="email" placeholder="Email Address" />
        <div class="error-message">Email is required</div>
      </div>
      <div class="form-group">
        <input type="password" placeholder="Password" />
        <div class="error-message">Password is required</div>
      </div>
      <div class="form-group">
        <input type="password" placeholder="Confirm Password" />
        <div class="error-message">Confirm Password is required</div>
      </div>
      <input type="submit" class="btn btn-primary" value="Register" />
    </form>
    <p class="my-1" style="color: aliceblue;">
      Already have an account? <a [routerLink]="['/auth/login']">Sign In</a>
    </p>
  </section>
  
